@keyframes example{
  0% {left:50px;}
 }
 
 .pink{
 background: pink;
 border:4px;
 border-color:black;
 position:relative;
}

 .spacer{
  height:25px;
  width:100%;
 }

.
 .blue{
 background-color:blue;
 }
 
 
 .yellow{
 background:yellow;
 
 }
 .outer-lining{
 border:solid 2px;
 border-color:green;
 height:300px;
 }

 .outer-lining-resume{
  margin-top: 15px;
  margin-bottom: 25px;
  border:solid 2px;
  border-color: black;
  height: 400px;
 }
 
 
 .offset-col{
 margin:2px;
 width:180px;
 height:40px;
 }
  

 .main-background{
  background-color:blue;
  height:296px;
 } 

 .main-background:before{
 content:'';
 position:relative;
 float:right;
 width: 0; 
 height: 0; 	
 border-top: 296px solid white; 	
 border-left: 296px solid transparent;
 opacity:0.15;
 
 }

 .main-content{
  font-size: 24px;
  max-height: 250px;
  height:250px;
  overflow: hidden;
  
 }

.tab .active {
  background-color:grey;
}
 
.tabContent .active{
  display:block;
  height:200px;
  overflow: hidden;
  transition: 0.3s;
}



.nav-bar{
z-index:10;
background-color:black;
padding: 4px 4px;
}
  
  .navigation{
 list-style-type:none;
 overflow:hidden;
 margin:0px;
 background-color:black;
 }
 
 li{
 float:left;
 }
 
 .ul-list-container{
  width:300px;
  background-color: black;
 }

 .skill-list{
  margin-left: 18px;
  padding: 0px 8px;
  width:200px;
  background-color: yellow;
  display: block;
  float:left;
 }

 .tab{
   background:#C91BC9;
   display:block;
   text-align: center;
   margin:5px;
   padding: 8px 8px;
   width:100px;
   height: 50px;
   float:right;
  
 }
 
 .container{
  display:flex;
  flex-flow: column wrap;
 }
 
 .tab:hover{
 background-color:blue;
 }
 
 li a{
 display:block;
 color:white;
 padding:14px 16px;
 }

 li .navi{
  display:block;
 color:white;
 padding:14px 16px;
 }

 li .navi:hover{
  color: white;
 }
 
 .Avatar{
 position:absolute;
 left:140px;
 top:100px;
 }
 
 li a:hover{
 color:red;
 background-color:grey;
 }
 
 img{
 border-radius:50%;
 border: solid white 2px;
 width:100px;
 height:100px;
 
 position:relative;
 top:50px;
 
 }

 .move-right{
  position: relative;
    left:600px;
 }
 
 
 p{
 line-height:1.1em;
 }