/*ID CSS Code*/

#carousel-link{
	font-size: 3em;
	text-align: center;
	position: absolute;
	top:80%;
	right:10%;
	color: blue;
}


/*Class CSS Code*/

.card-image{
	width:50%;
	height:50%;
}

.carousel-card{
	position: relative;
	height: 572px;
	border-radius: 5%;
	margin-right:0%;
	margin-left:0%;
	padding-right: 0%;
	padding-left: 0%;
	border:1px solid black;
	border-color: black;
	background-color: #ffffe6;
	
}

.carousel-card-strip{
	background-color: black;
	position: absolute;
	top:50px;
	width: 1140px;
	height:60px;
}

.carousel-card-left{;
	padding: 5%;
	top:80px;
}
.carousel-card-right{
	width: 50%; 
	height:80%;
	top:20%;
	
}
.carousel-card-right-content{

}


.carousel-desc{
	position: relative;
	font-size: 2em;
	text-align: center;

	
}

/* Carousel Styling */

#myCarousel{
	width: 45%;
	height: 45%;
}

.slide1{
  background-image: url('../Images/Photo.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('../Images/CIBC-Logo.png');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('../Images/DW&EG-Logo.png');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}