html{
	position:relative;
	min-height: 100%;
	
}

section{
	background-color:rgba(249,249,249);
}

body{
	margin: 0 0 100px;
}

footer {
	position:absolute;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	background-color: rgba(0,0,0,0.91);
   	color: white;
   	text-align: center;
}
	
.backdrop-center{
	background-color:rgba(249,249,249);
}


/*Changes profile picutre to a circle */
img.profile-picture{
	width:75px;
	height:75px;
	float:left;
	border-radius: 50%;
	padding:4px;
	margin:8px;
}

/* Header content styling */
header{
	display: inline-block;
	width: 100%;
	height: 15%;
	background-color: rgba(0,0,0,0.91);
}

/* Navigation bar (Start) */
.horizontal-navbar-outer{
	text-align:center;
	list-style-type: none;
	
}

.horizontal-navbar-inner{
	display: inline-block;
}

.horizontal-navbar li{
	display:inline-block;
	font-size: 16px;
}

ul{
	float:left;
	list-style: none;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
}


li a:hover{
	color: yellow;
}

/* Dropdown */
.dropdown .dropdownbtn{
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


.dropdown-content{
	display: none;
	position: absolute;
  	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a{
	color: black;
	border: solid black 1px;
	
}


.dropdown-content a:hover {
	color: red;
}

.dropdown:hover .dropdown-content{
	display: block;
	position: absolute;
	min-width: 160px;
	text-align: center;
}

/* Navigation bar (End)*/



/* Footer content (Start) */



/* Floating Action Button footer items.*/


.fa-linkedin-in {
	color:white;
}

/* Footer content (End) */
