<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.payroll">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Main.EditPayrollActivity"
            android:label="@string/title_activity_payroll_list"
            android:theme="@style/NoActionBar"></activity>
        <activity android:name=".Main.EditEmployeeActivity" />
        <activity android:name=".Main.CreateCompanyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.CompanyViewActivity"
            android:parentActivityName=".Main.CreateCompanyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Main.CreateEmployeeActivity"
            android:parentActivityName=".Main.CompanyViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Main.GeneratePayrollActivity"
            android:parentActivityName=".Main.CompanyViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>