header{
	display: block;
	width:100%;
	height:10%;
	background-color: black;
}
.Profile-picture{
	width:75px;
	height:75px;
	float:left;
	border-radius: 50%;
	padding:4px;
	margin:2px;
 }
.Header-inner-nav{
	position: relative;
	display:block;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	float:left;
	left:10%;
	margin:2%;
}
.backdrop-center{
	background: rgba(0,0,0,.7);
	width:100%;
	height:800px;

}
a {
	color:rgba(255,255,255,.76);
}
a:hover{
	color:yellow;
	text-decoration:none;
}
.wrapper{
	display:grid;
	grid-template-columns: 25% 70%;
	column-gap:25px;
	width:100%;
	padding:24px;

}
.inner-item{
	color:white;
	position: relative;
	width:100%;
	padding:12px;
	padding-left:36px;
}
.logo{
	width:75%;
}
@media only screen and (max-width: 768px){
.logo{
	position:relative;
	width:calc(100% + 25px ) !important;
	overflow: hidden;
	}
}
p{
	font-size: 10px;
}
h6{
	font-size: 10px;
}

ul{

}

.list-item{
	display:inline;
	list-style:none;
	margin-left: 12px;
	
}

